{{!-- This is the post loop - each post will be output using this markup --}}
<article class="{{post_class}} post-card post-card-big {{^if feature_image}}no-image{{/if}}">
    <div class="content">
        <div class="content-holder">
            <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM D, YYYY"}}</time>
            <h2 class="post-title"><a href="{{url}}" title="{{title}}">{{title}}</a></h2>
            <p>
                {{excerpt words="100"}}
            </p>
            <a href="{{url}}" title="{{title}}" class="read-more">Read more</a>
        </div>
        {{#if feature_image}}
        <div class="img-holder">
            <a href="{{url}}" title="{{title}}">
                <span style="background-image: url({{img_url feature_image}})"></span>
            </a>
            {{/if}}
            {{#if tags}}
                <ul class="tags">
                {{#foreach tags}}
                    <li>
                        <a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">{{name}}</a>
                    </li>  
                {{/foreach}}
                </ul>
        </div>
        {{/if}}
    </div>
    {{#author}}
        {{#if profile_image}}
            <figure class="author-image">
                <a class="img" href="{{url}}" title="{{name}}"><img src="{{img_url profile_image}}" alt="{{name}}"></a>
            </figure>
        {{/if}}
    {{/author}}
</article>