{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

    <main id="content" class="container content-inner" role="main">
        <article class="{{post_class}}">
            {{#if feature_image}}
                <div class="post-meta">
                    <img src="{{img_url feature_image}}" alt="{{title}}">
                </div>
            {{/if}}
            <section class="post-content">

                <h1 class="post-title">{{title}}</h1>

                {{content}}

            </section>
        </article>
    </main>
    
{{/post}}
