{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

    <main id="content" role="main" data-id="{{comment_id}}">
        <article class="{{post_class}}">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-cover post-meta {{#if feature_image}}has-image{{/if}}" {{#if feature_image}} style="background-image: url({{img_url feature_image}});"{{/if}}>
                            <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM D, YYYY"}}</time>
                            <h1 class="post-title">{{title}}</h1>
                            <div class="tags-container">
                            {{#if tags}}
                                <ul class="tags">
                                {{#foreach tags limit="5"}}
                                    <li>
                                        <a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">{{name}}</a>
                                    </li>  
                                {{/foreach}}
                                </ul>
                            {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-8">

                        <section class="post-content">

                            {{content}}

                            <div class="info-bar">
                                <h4>{{title}}</h4>
                                <div class="social">
                                    <a class="twitter" href="https://twitter.com/intent/tweet/?text={{title}}&url={{@blog.url}}{{url}}" target="_blank" title="Share on Twitter"></a>
                                    <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{@blog.url}}{{url}}" target="_blank" title="Share on Facebook"></a>
                                </div>
                                <div class="progress"></div>
                            </div>

                        </section>

                        <div class="comments">
                            <a href="#" class="comments-trigger"></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        {{> "sidebar"}}
                    </div>
                </div>
        </article>
    </main>
    
    <div class="related-posts container">
        {{#get "posts" limit="4" include="tags" filter="id:-{{comment_id}}+tag:{{primary_tag.slug}}"}}
            {{#if posts}}
                <h3>Related posts</h3>
                <div class="grid">
                    {{> "loop"}}
                    <div class="grid-sizer"></div>
                </div>
            {{/if}}
        {{/get}}
    </div>

{{/post}}
