{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

    <main id="content" class="container content-inner" role="main" data-id="{{comment_id}}">
        <article class="{{post_class}}">
            <div class="post-meta {{#if feature_image}}has-image{{/if}}">
                {{#if tags}}
                    <ul class="tags">
                    {{#foreach tags limit="5"}}
                        <li>
                            <a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">{{name}}</a>
                        </li>  
                    {{/foreach}}
                    </ul>
                {{/if}}
                {{#if feature_image}}
                    <img src="{{img_url feature_image}}" alt="{{title}}">
                {{/if}}
                <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM D, YYYY"}}</time>
            </div>
            <section class="post-content">

                <h1 class="post-title">{{title}}</h1>

                {{content}}

                {{!-- Everything inside the #author tags pulls data from the author --}}
                {{#author}}
                    <section class="author">
                        {{#if profile_image}}
                        <figure class="author-image">
                            <a class="img" href="{{url}}" title="{{name}}"><img src="{{img_url profile_image}}" alt="{{name}}"></a>
                        </figure>
                        {{/if}}

                        <div class="author-content">
                            <h4>
                                <a href="{{url}}">{{name}}</a>
                                <span class="social">
                                    {{#if twitter}}<a href="{{twitter_url}}" class="twitter" title="{{twitter}}" target="_blank"></a>{{/if}}
                                    {{#if facebook}}<a href="{{facebook_url}}" class="facebook" title="{{facebook}}" target="_blank"></a>{{/if}}
                                </span>
                            </h4>

                            {{#if bio}}
                                <p>{{bio}}</p>
                            {{else}}
                                <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                            {{/if}}
                            <div class="author-meta">
                                {{#if website}}<span class="author-link"><a href="{{website}}" target="_blank" rel="noopener noreferrer">{{website}}</a></span>{{/if}}
                                {{#if location}}<span class="author-location">{{location}}</span>{{/if}}
                            </div>
                        </div>
                    </section>
                {{/author}}

                <div class="info-bar">
                    <h4>{{title}}</h4>
                    <div class="social">
                        <a class="twitter" href="https://twitter.com/intent/tweet/?text={{title}}&url={{@blog.url}}{{url}}" target="_blank" title="Share on Twitter"></a>
                        <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{@blog.url}}{{url}}" target="_blank" title="Share on Facebook"></a>
                    </div>
                    <div class="progress"></div>
                </div>

            </section>

            <div class="comments">
                <a href="#" class="comments-trigger"></a>
            </div>

        </article>
    </main>
    
    <div class="related-posts container">
        {{#get "posts" limit="4" include="tags" filter="id:-{{comment_id}}+tag:{{primary_tag.slug}}"}}
            {{#if posts}}
                <h3>Related posts</h3>
                <div class="grid">
                    {{> "loop"}}
                    <div class="grid-sizer"></div>
                </div>
            {{/if}}
        {{/get}}
    </div>

{{/post}}
