<div class="pagination-container">
	{{!-- Load more button - Visible only if it's enabled in main.js --}}
	<button id="load-posts" class="btn" data-end="{{t "No more posts"}}" data-posts_per_page="{{@config.posts_per_page}}"><span>{{t "Load more posts"}}</span></button>

	{{!-- Pagination --}}
	<nav class="pagination" role="navigation">
	    {{#if prev}}
	        <a class="newer-posts" href="{{page_url prev}}"><b>{{t "Newer Posts"}}</b></a>
	    {{/if}}
	    <span class="page-number">{{t "Page {page} of {pages}" page=page pages=pages}}</span>
	    {{#if next}}
	        <a class="older-posts" href="{{page_url next}}"><b>{{t "Older Posts"}}</b></a>
	    {{/if}}
	</nav>
</div>