    <div class="backdrop"></div>

    <footer class="site-footer container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-content">
                    <div class="row">
                        {{#get "tags" limit="all" include="count.posts"}}
                            {{#if tags}}
                            <div class="col-md-6">
                                <h3>{{t "Tags"}}</h3>
                                <ul class="tags">
                                    {{#foreach tags}}
                                        {{#if count.posts}}
                                        <li>
                                            <a href="{{url}}">{{name}}</a>
                                        </li>
                                        {{/if}}
                                    {{/foreach}}
                                </ul>
                            </div>
                            {{/if}}
                        {{/get}}
                        <div class="col-md-6">
                            <h3>{{t "Social"}}</h3>
                            {{#if @labs.subscribers}}
                                {{subscribe_form
                                    form_class="gh-signin"
                                    input_class="gh-input"
                                    button_class="gh-btn gh-btn-blue gh-btn-block"
                                    placeholder=(t "Your email address")
                                }}
                            {{/if}}
                            <div class="social">
                                {{#if @site.facebook}}
                                    <a href="{{facebook_url}}" class="facebook" title="{{@site.facebook}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                                {{/if}}
                                {{#if @site.twitter}}
                                    <a href="{{twitter_url}}" class="twitter" title="{{@site.twitter}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                {{/if}}
                                {{#if @custom.linkedin}}
                                <a href="{{ @custom.linkedin }}" class="instagram" title="{{@site.title}} - {{t " Linkedin"}}"
                                    target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a>
                                {{/if}}
                                {{#if @custom.youtube}}
                                <a href="{{ @custom.youtube }}" class="youtube" title="{{@site.title}} - {{t " YouTube"}}" target="_blank"
                                    rel="noopener noreferrer"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                                {{/if}}
                                {{#if @custom.instagram}}
                                <a href="{{ @custom.instagram }}" class="instagram" title="{{@site.title}} - {{t " Instagram"}}" target="_blank"
                                    rel="noopener noreferrer"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                                {{/if}}
                                <a href="{{@site.url}}/rss" title="{{@site.title}} - {{t "RSS Feed"}}"><i class="fa fa-rss" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="copyright">{{t "Copyright"}} &copy; {{date format="YYYY"}}, <a href="{{@site.url}}">{{@site.title}}</a>. {{t "All Right Reserved"}}.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>