{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

    <main id="content" role="main" data-id="{{comment_id}}">
        <article class="{{post_class}}">

            <div class="container">
                <div class="row">
                    <div class="col-md-12 post-cover-container">
                        <div class="post-cover post-meta {{#if feature_image}}has-image{{/if}}" {{#if feature_image}} style="background-image: url({{img_url feature_image}});"{{/if}}>
                            <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM D, YYYY"}}</time>
                            <h1 class="post-title">{{title}}</h1>
                            <div class="tags-container">
                            {{#if tags}}
                                <ul class="tags">
                                {{#foreach tags limit="5"}}
                                    <li>
                                        <a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">{{name}}</a>
                                    </li>  
                                {{/foreach}}
                                </ul>
                            {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-8">

                        <section class="post-content">

                            <div class="editor-content">{{content}}</div>

                            <div class="info-bar">
                                <h4>{{title}}</h4>
                                <div class="social">
                                    <a class="twitter" href="https://twitter.com/intent/tweet/?text={{encode title}}&url={{url absolute="true"}}" target="_blank" title="{{t "Share on Twitter"}}"><i class="fab fa-twitter"></i></a>
                                    <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" target="_blank" title="{{t "Share on Facebook"}}"><i class="fab fa-facebook-f"></i></a>
                                </div>
                                <div class="progress"></div>
                            </div>

                        </section>

                        <div class="comments">
                            <a href="#" class="comments-trigger">
                                <i class="fa fa-comment" aria-hidden="true"></i>
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </div>

                        {{#if @labs.publicAPI}}
                        <div class="related-posts">
                            {{#get "posts" limit="1" include="tags, authors" filter="id:-{{id}}+primary_tag:{{primary_tag.slug}}"}}
                                <h3 class="title">{{t "You might also like"}}</h3>
                                <div class="row loop-big">
                                    <div class="col-md-12">
                                        {{#foreach posts}}
                                            {{> "loop-big"}}
                                        {{/foreach}}
                                    </div>
                                </div>
                            {{/get}}
                            {{#get "posts" limit="7" include="tags" filter="id:-{{id}}+primary_tag:{{primary_tag.slug}}"}}
                                <div class="row loop-small">
                                    {{#foreach posts}}
                                        {{^if @first}}
                                        <div class="col-md-4">
                                            {{> "loop-small"}}
                                        </div>
                                        {{/if}}
                                    {{/foreach}}
                                </div>
                            {{/get}}
                        </div>
                        {{/if}}

                    </div>
                    <div class="col-lg-4">
                        {{> "sidebar"}}
                    </div>
                </div>
            </div>
        </article>
    </main>

{{/post}}
